<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

    </style>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>

<a th:href="@{/add-categoryB}">Add category</a>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Products</th>
        <th>Action</th>
    </tr>
    <tr th:each="category:${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.productModel}"></td>
        <td>
            <a th:href="@{/deleteCategory(id=${category.id})}">Remove</a>

            <a th:href="@{/viewCategory(id=${category.id})}">View</a>

            <a th:href="@{/editCategory(id=${category.id})}">Edit</a>


        </td>
    </tr>
</table>
</body>
</html>