<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editing product</title>
</head>
<body>
<h2>Edit product</h2>
<form th:action="@{/edit-product}" th:object="${edited}">
    <label for="id">ID</label><br>
    <input type="text" id="id" readonly name="id" th:field="*{id}"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" th:field="*{description}"><br><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" th:field="*{price}"><br><br>
    <select name="category" id="category" th:field="*{category.id}">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <br>
    <br>
    <input type="submit" value="Edit product">

</form>
</body>
</html>