<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editing product</title>
</head>
<body>
<form th:action="@{/edit-product}" th:object="${edited}">
    <label for="lname">ID</label><br>
    <input type="text" id="id" readonly name="id" th:field="*{id}"><br>
    <label for="fname">Name:</label><br>
    <input type="text" id="fname" name="fname" th:field="*{name}"><br>
    <label for="lname">Description:</label><br>
    <input type="text" id="lname" name="lname" th:field="*{description}"><br><br>
    <label for="lname">Price:</label><br>
    <input type="text" id="price" name="lname" th:field="*{price}"><br><br>
    <input type="submit" value="Edit author">
</form>
</body>
</html>