<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style>
.header {
  padding: 30px;
  text-align: center;
  background: #4CAF50;
  color: white;
  font-size: 25px;
}
.button {
  background-color: #4CAF50;
  border: 5px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<h1 class="header">PRODUCT MANAGEMENT</h1>
<body class="body">
<div class="button">
    <a href="/products" class="button">PRODUCTS</a>
    <a href="/categories" class="button">CATEGORIES</a>
</div>
</body>
</html>