<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Category : </title>
    <style>
        body {
        border: 10px solid cadetblue;
        padding: 8px;
        text-align: left;
        background-color: white;
        }
        h2 {
        padding: 8px;
        background-color: #4CAF50;
        }
        h3 {
        padding: 4px;
        background-color: darkseagreen;
        }
        h4 {
        padding: 4px;
        background-color: darkseagreen;
        }
    </style>
</head>
<body class="body">
<h2 class="h2" th:text="${viewedCategory.id}"></h2>
<h3 class="h3" th:text="${viewedCategory.name}"></h3>
<h3 class="h4" th:text="${viewedCategory.product}"></h3>
</body>
</html>